In [1]:
import datetime as dt
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

In [2]:
end = dt.date.today()
start= end - dt.timedelta(days=5000)
start_str = start.strftime('%Y-%m-%d')
end_str = end.strftime('%Y-%m-%d')
start_str, end_str

('2009-05-27', '2023-02-03')

In [16]:
stocklist = ["SPY","F"]

In [19]:
# yf.pdr_override()
stock_data = pdr.get_data_yahoo(stocklist, start_str, end_str)

[*********************100%***********************]  2 of 2 completed

In [20]:
stock_data.head()

                          Adj Close            Close             High  \
                                  F        SPY     F        SPY     F
Date
2009-05-27 00:00:00-04:00  3.487995  68.893616  5.34  89.669998  5.53
2009-05-28 00:00:00-04:00  3.631696  69.853966  5.56  90.919998  5.56
2009-05-29 00:00:00-04:00  3.755801  71.090935  5.75  92.529999  5.75
2009-06-01 00:00:00-04:00  4.004009  72.811935  6.13  94.769997  6.23
2009-06-02 00:00:00-04:00  4.186902  72.873398  6.41  94.849998  6.46

                                       Low             Open             \
                                 SPY     F        SPY     F        SPY
Date
2009-05-27 00:00:00-04:00  91.750000  5.25  89.529999  5.48  91.440002
2009-05-28 00:00:00-04:00  91.339996  5.25  89.099998  5.41  90.459999
2009-05-29 00:00:00-04:00  93.699997  5.41  90.680000  5.58  91.419998
2009-06-01 00:00:00-04:00  95.169998  5.88  93.430000  5.95  93.669998
2009-06-02 00:00:00-04:00  95.370003  6.03  94.230003  6.17  94.400002

                              Volume
                                   F        SPY
Date
2009-05-27 00:00:00-04:00   55302600  246015800
2009-05-28 00:00:00-04:00   63255100  289095000
2009-05-29 00:00:00-04:00   99306500  258641500
2009-06-01 00:00:00-04:00  111714500  276246800
2009-06-02 00:00:00-04:00  134751900  230874500